/*Base*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


html, body {
    margin: 0;
    height: 100%;
}

body { 
	padding-top: 80px;
	background-color: #ecf0f1;

	
}

.content{
	min-height: 70%;
}

.center-mid-40{
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

.btn-save{
	margin-top: 40px;
}

.none-decoration a,.none-decoration a:hover,.none-decoration a:visited{
	text-decoration: none;
}
/*Navbar*/

#logo{
	margin-top: 7px;
	font-size: 24px;
	color: white;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

#logo:hover{
	cursor:pointer;

}
#login,#userPanel{
	color: white;
}

#login:hover,#userPanel:hover{
	color: lightgrey;
}

#user{
	font-size: 12px;
	margin-top:5px;
	
	color: white;
}

#logout {
	padding-left: 0px;
}

#logout:hover{
	color: #c0392b;
}

#panel-btn{
	background-color:#286090;
}

.linkText {
	font-size: 20px;
	margin-top:7px;
	margin-bottom: 0;
	cursor:pointer;

}

.navbar{
	background-color: #2c3e50;

}

/*Galeria*/

.thumbnail:hover{
	box-shadow: 0 2px 3px #34495e;
	cursor:pointer;
}

.thumbnail img{
	width: 350px;
	height: 350px;
}

#news-view{
	font-family: 'Playfair Display', serif;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
#news-view h1,h2,p{
	margin-top: 30px;

}

#news-view p{
	font-size: 17px;
}

#backButton {

	margin: 20px;
}

#more{
	padding: 25px;
	margin-top:20px;
}
/*Panel*/

.menu{
	width: 25%;
}

.actions{
	width:70%;
	margin-left: 5%;
}

.actions input, textarea{
	width: 100%;
}

.navLinks a{
	font-size: 20px;
	margin:5px;
}
.options {

	display: block;
}

.options button{

	margin-bottom: 30px;
}

#dialog{
	position: fixed;
	width: 500px;
	height: 120px;
	top: 50%;
	left: 50%;
	margin-top: -100px; 
	margin-left: -250px; 
	z-index: 100;
}

#newsImg{
	width: 600px;
	height: 600px;
}

/*Footer*/

.footer{
	
	background-color: #3F3F3F;
 	color: white;
 	position: static;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	text-align: center;
  	min-height: 30%;
  	margin-top: 70px;
  	color: #7f8c8d;
	
}

.socialIcons i {
	padding: 50px 20px 50px 20px;
	color: #7f8c8d;

	
}

.socialIcons a,.socialIcons a:hover,.socialIcons a:visited{
	
	color: #7f8c8d;
}



/*Autentificacion*/

#auth input{
	margin-top: 5px;
	margin-bottom: 5px;

}

#password-label,#field-label{
	display: none;
}

/*Perfil*/

.user-information{
	margin-left: 150px;
} 