<div ng-controller="newsCtrl">
 	<div ng-show="manageNews">
		<div ng-repeat="news in newsArray track by $index"  >
		  	<div ng-click="viewNews($index)">
		  		<h3 >{{news.title}}</h3>			  
				<h4 >{{news.subtitle}}</h4>
				<a href="" ng-click="editNews(news, $index)">EDITAR</a>
		  	</div>
		</div>
		
	</div>
	<div ng-show="editing">
		<div id="edit-news" ng-hide="preview">
			<h1><input  ng-model="selectedNews.title" ng-hide="preview" 	type="text"  placeholder={{selectedNews.title}}></h1>
			<h3><input  ng-model="selectedNews.subtitle" ng-hide="preview" type="text" placeholder={{selectedNews.subtitle}} ></h3>
			<input type="file" name="pic" accept="image/*">
			<p><textarea cols="30" rows="10"   ng-model="selectedNews.content" ng-hide="preview" type="text" placeholder={{selectedNews.content}} ></textarea></p>
		</div>
		<div ng-show="preview" class="news-view">
			<h1>{{selectedNews.title}}</h1>
			<h3>{{selectedNews.subtitle}}</h3>
			<p>{{selectedNews.content}}</p>
		</div>
			<a href="" ng-hide="preview" ng-click="editing=false;manageNews=false">Volver</a>
			<a href="" ng-show="preview" ng-click="preview=false">Volver</a>
			<a href="" ng-click="preview=true">Previsualizar</a>
			<a href="" ng-hide="create" ng-click="saveEditedNews()">Guardar</a>
			<a href="" ng-show="create" ng-click="addNews(selectedNews);editing=false">Guardar</a>	
	</div>
</div>