<div ng-controller="usersCtrl">
	<div class="panel panel-primary" >
	<table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{user.lastname}}</td>
        <td >
        	<div class="text-right">
        		<button ng-if="user.type=='user'" class="btn btn-primary"  ng-click="changeUserType(user,'promote')">Convertir en Autor</button>   
				<button ng-if="user.type=='author'" class="btn btn-primary"  ng-click="changeUserType(user,'demote')">Convertir en Usuario</button>
        	</div>
		</td>
      </tr>
    </tbody>
  	</table>
	</div>
</div>


