<div class="panel">
	<div class="panel-body text-center">
		<label><input type="checkbox" ng-model=userLogued.subscriptions.economy  > Economía</label>
		<label><input type="checkbox" ng-model=userLogued.subscriptions.international > Internacional</label>
		<label><input type="checkbox"  ng-model=userLogued.subscriptions.tech > Tecnología</label>
		<label><input type="checkbox"  ng-model=userLogued.subscriptions.politics > Política</label>
		<label><input type="checkbox"  ng-model=userLogued.subscriptions.society > Sociedad</label>
		<label><input type="checkbox"  ng-model=userLogued.subscriptions.sports > Deportes</label>
	</div>
</div>




