<div ng-controller="profileCtrl">
	<div class=" panel" >
		<div class="panel-body">
			<form class="form-signin" ng-submit="savePassword(credentials)">
			    <h2 class="form-signin-heading">Cambiar la contraseña</h2>
			     <label id="field-label" class="label label-danger" >Escriba su antigua contraseña</label>
			    <label id="password-label" class="label label-danger">Las contraseñas no concuerdan</label>
			    <h5>Contraseña Actual</h5>
			    <input ng-change="checkPasswords(credentials)" type="password" ng-model="credentials.oldPassword" class="form-control"  required="">
			    <h5>Nueva contraseña</h5>
			    <input ng-change="checkPasswords(credentials)" type="password" ng-model="credentials.newPassword" class="form-control"  required="">
			    <h5>Repetir nueva contraseña</h5>
			    <input ng-change="checkPasswords(credentials)" type="password" ng-model="credentials.repeatPassword" class="form-control"  required="">
			    <div class="text-center">
			    <button id=changeButton  class="btn btn-primary btn-save" type="submit">Cambiar</button>
			    </div>
			</form>
		</div>
	</div>
	<div class="alert alert-success fade in" ng-show="success">
	    <a href="" class="close" ng-click="closeMessage()" >X</a>
	    <strong>¡Bien!</strong> {{successTextAlert}} 
	</div>
	<div class="alert alert-danger fade in" ng-show="error">
	    <a href="" class="close" ng-click="closeMessage()" >X</a>
	    <strong>¡Ups!</strong> {{errorTextAlert}} 
	</div>
</div>