<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container" ng-controller="authCtrl">
		<a href="/"><div id="logo" class="navbar-brand" ">Noticias Mean</div></a>
		
			<div ng-if="userLogued==null">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="login" href="/auth"  ><p class="linkText">Ingresar</p></a></li>
					<li><a href="/auth" ><span id="user" class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
				</ul>
			</div>
			<div ng-if="userLogued!=null">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="userPanel" href="/panel"  ><p class="linkText"> {{userLogued.name}}</p></a></li>
					<li><a href="/"  ng-click="logoutUser()" ><span id="logout" class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
				</ul>
			</div>		
	</div>
</nav>

