<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container" ng-controller="authCtrl">
		<a href="/"><div id="logo" class="navbar-brand" ">Noticias Mean</div></a>
		
			<div ng-if="userLogued==null">
				<ul class="nav navbar-nav navbar-right">
					<li><a id="login" href="/auth"  ><button class="btn btn-primary">Ingresar <span id="user" class="glyphicon glyphicon-user" aria-hidden="true"></span></button></a></li>
					
				</ul>
			</div>
			<div ng-if="userLogued!=null">
				<ul class="nav navbar-nav navbar-right" id="userPanel">
					<li><a  href="/panel"  ><button id=panel-btn class="btn btn-primary" > {{userLogued.firstName}}</button></a></li>
					<li><a href="" id="logout"><button  class="glyphicon glyphicon-off btn btn-danger" aria-hidden="true" ng-click="logoutUser()" ></button></a></li>
				</ul>
			</div>		
	</div>
</nav>

